@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
	margin:0;
	padding:0;	
}
body,html{
	font:0.12rem "微软雅黑", Arial;
	background: #eeeeee;
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#696969;
	font-size:0.12rem;	
}
a:hover{
	color:#f00;
	text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;	
}
